  <h2><%= @tournament.name %></h2>
  <p><%= cl_image_tag @tournament.photo.key , height: 400, width: 400, crop: :fill%></p>
  <p>Début du tournoi : <%=  @tournament.start_tournament%></p>
  <p>Fin du tournoi : <%= @tournament.end_tournament%></p>
  <p>Activité :<%= @tournament.activity%></p>
  <p>Equipes participantes :</p>
  <% @tournament.teams.each do |team|  %>
  <ul>
    <li><%= link_to team.name , team_path(team)%></li>

  </ul>
    <% end %>
<p><%= link_to "Tous les tournois" , tournaments_path  %></p>
